.Half-Width {
    width: 50%;
    padding: 10px;
}

.Half-Width img {
    width: 100%;
}

.Flexible {
    display: flex;
    padding: 5%;
    margin-bottom: 50px;
    border-radius: 15%;
}

.First-Heading {
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.skip {
    color: orange;
}

.Paragraph1 {
    font-size: 25px;
    font-family: inherit;
}

.Order {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 15px;
    border-radius: 10%;
    color: whitesmoke;
    font-weight: bold;

}

.Half-Width2 {
    width: 50%;
    padding: 10px;
}

.Half-Width2 img {
    width: 60%;
    margin: 5px;
}

.First-Heading2 {
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: coral;
}

.Paragraph2 {
    font-size: 35px;
    font-family: system-ui;

}

.Add-Banner {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-position: 5%;
    margin-right: 5%;


}

.Heading2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Paragraph3 {
    text-align: center;
    font-size: large;
}

.Paragraph4 {
    font-size: 20px;
    padding: 5%;
}

.Shadow {
    box-shadow: 10px 10px 40px gray;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 30px;
}

.Half-Width3 img {
    width: 80%;
    margin: 5px;
    padding: 5%;
}

.Half-Width3 {
    width: 50%;
    padding: 5px;
}


.Flexible1 {
    display: flex;
    padding: 5%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.Item {
    padding: 5%;
}

#Side-Border1 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, orange, gray);
    border-radius: 10px;
    border-image-slice: 1;
}

#Side-Border2 {
    border-left: 7px solid;
    border-image: linear-gradient(yellowgreen, pink, crimson);
    border-radius: 10px;
    border-image-slice: 1;
}

#Side-Border3 {
    border-left: 7px solid;
    border-image: linear-gradient(red, green, yellow);
    border-radius: 10px;
    border-image-slice: 1;
}

.Half-Width4 {
    width: 100%;
    padding: 5px;

}

.Half-Width4 img {
    width: 100%;
    margin: 10px;
    padding: 5%;
}



.Half-Width5 {
    width: 100%;
    padding: 5px;

}

.Half-Width5 img {
    width: 100%;


}


#Footer1 {
    background-color: black;
    padding: 10px 40px;


}

.Eat {

    color: orangered;
}

.Fresh {

    color: grey;
}

.Center {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.Healthy-Life {
    color: skyblue;
    text-align: center;
    margin-bottom: 50px;
}

#Footer2 {
    text-align: center;
}

.Half-Width6 {
    width: 50%;
    padding: 100px 100px 100px;
    font-size: 40px;
    text-align: center;
}

.Shadow1 {
    box-shadow: 10px 10px 40px gray;
    margin-left: 25%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 30px;
}

.Platform {
    font-size: 100%;
    color: lightslategrey;
    font-family: cursive;
}




.box {
    display: block;
    float: left;
    width: 25%;
    padding: 20px;
    padding-left: 12px;
    overflow: hidden;
}

.box img {
    width: 100%;
    border-radius: 5px;
}

.box img:hover {
    transform: scale(2, 2);
    transition: .3s transform;
    border-radius: 5px;
}